.App {
  text-align: left;
  background-color: rgb(244, 244, 244);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.app-title h1 {
  margin: 0;
  padding-left: 80px;
  font-weight: 500;
  font-size: 70px;
  text-align: center;
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:
    "picture-area accessorize-area"
    "picture-area style-area"
    "action-area style-area";
  justify-content: center;
}

.action-area {
  grid-area: action-area;
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.action-area button {
  height: 50px;
  width: 45%;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 80px;
  margin: 5px;
  background-color: white;
  border: none;
  color: black;
}

.action-area button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.picture-area {
  grid-area: picture-area;
  width: 400px;
  height: 400px;
  margin: 0;
  padding: 0;
}

.picture-area img {
  object-fit: cover;
  width: 400px;
  height: 400px;
}

.accessorize-area {
  grid-area: accessorize-area;
  width: 400px;
  height: 200px;
  padding-left: 40px;
  padding-bottom: 30px;
}

.style-area {
  grid-area: style-area;
  width: 400px;
  height: 300px;
  padding-left: 40px;
}

.style-area-buttons {
  overflow-y: scroll;
  height: 200px;
}

.accessorize-area button,
.style-area button {
  height: 40px;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 80px;
  border-radius: 20px;
  margin: 5px;
  border-color: rgb(45, 175, 255);
  background-color: inherit;
  border-style: solid;
  color: rgb(45, 175, 255);
}

.accessorize-area button:hover,
.accessorize-area .selected,
.style-area button:hover,
.style-area .selected {
  background-color: rgb(45, 175, 255);
  color: white;
}

.accessorize-area button:hover,
.style-area button:hover {
  cursor: pointer;
}
